In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
# Load the dataset
df = pd.read_csv('heart_modified.csv')

# Define the feature and target variables
features = df.drop('cardio', axis=1)
target = df['cardio']
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,51,1,165,64.0,130,70,3,1,0,0,0,1
3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,47,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,52,2,168,76.0,120,80,1,1,1,0,1,0
69996,61,1,158,126.0,140,90,2,2,0,0,1,1
69997,52,2,183,105.0,180,90,3,1,0,1,0,1
69998,61,1,163,72.0,135,80,1,2,0,0,0,1
69999,56,1,170,72.0,120,80,2,1,0,0,1,0

In [5]:
# Scale the features
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

In [6]:
# Split the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(features_scaled, target, test_size=0.2, random_state=42)

# Define the model
model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(12, activation='relu', input_shape=(x_train.shape[1],)),
  tf.keras.layers.Dense(8, activation='relu'),
  tf.keras.layers.Dense(1, activation='sigmoid')
])

In [7]:
# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [10]:
# Train the model
model.fit(x_train, y_train, epochs=3, batch_size=10, verbose=1)

# Save the model
model.save('heart_model.h5')

Epoch 1/3
5600/5600 [==============================] - 5s 850us/step - loss: 0.5419 - accuracy: 0.7341
Epoch 2/3
5600/5600 [==============================] - 5s 806us/step - loss: 0.5417 - accuracy: 0.7333
Epoch 3/3
5600/5600 [==============================] - 4s 791us/step - loss: 0.5415 - accuracy: 0.7354

In [11]:
# Save the scaler
import joblib
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']